body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

main{

    font-family: Arial, Helvetica, sans-serif;

}

ul {
    text-align: center;
    list-style: inside;
  }

ol{

    text-align: center;
    list-style: inside;
}

header{

    background-color: black;

}

header h1{

    color: white;

}

header img{

    border-radius: 150px;
    width: 250px;
    border: 12px solid rgb(124, 94, 50);

}